<section class="mainTemplate-container">
    <div class="parallax-container">
        <h1 class="mainTemplate-title">The Earth App</h1>
        <img class="cloud-1" src="assets/images/cloud-sm.svg">
        <img class="cloud-2" src="assets/images/cloud-sm.svg">
    </div>
    <img class="cloud-3" src="assets/images/cloud-bg.svg">
    <div class="mainTemplate-content-container">
        <section class="mainTemplate-content-wide">
            <h3 class="margin-m">NASA Earth Image App</h3>
            <a class="margin-sm link-secondary">https://github.com/JamieHunstad/nasaApp</a>
            <p class="margin-sm opacity-1">September 2022 - October 2022</p>
            <p class="margin-sm opacity-1">HTML - CSS - Javscript - Angular - Illustrator</p>
            <p class="margin-m">A daily Earth imaging application utilizing the NASA “EPIC” API. The EPIC API provides information on the daily imagery collected by DSCOVR's Earth Polychromatic Imaging Camera (EPIC) instrument. This was a personal project I created in my spare time to challenege my skills in Angular!</p>
        </section>
        <section class="mainTemplate-content-wide">
            <img src="/assets/images/gull.jpg" class="mainTemplate-imageNoHvr content-wide-image margin-xl-bottom">
            <h3 class="margin-m">Brief</h3>
            <p class="margin-sm">This project came from my desire to work with an API from NASA, my only reason - I thought it'd be FUN! My goal was to create an application within Angular to serve a daily image of the Earth with past search functionality.</p>
        </section>
        <section class="mainTemplate-content-wide two-col">
            <img src="/assets/images/gull2.jpg" class="mainTemplate-imageNoHvr content-wide-two_col-image margin-xl-bottom">
            <div class="flex-center">
                <h3 class="margin-m">Ideation</h3>
                <p class="margin-sm">I created a simple wire-frame to layout the general styling and simple sitemap.</p>
            </div>
        </section>
        <section class="mainTemplate-content-wide">
            <img src="/assets/images/gull.jpg" class="mainTemplate-imageNoHvr content-wide-image margin-xl-bottom">
            <h3 class="margin-m">Development</h3>
            <p class="margin-sm">At this stage in the process I began to update the code. I began by duplicating the code from Smokey's and familiarizing myself with the styling. This allowed me to save time and helped me focus on the aspects that would be changing . It was a challenge to siphon through the previous code and remove the non-applicable code to prevent code bloat, while competing with a tight-deadline. It was important to me that the code stayed DRY and there wasn't any repeat or non-usable code.</p>
        </section>
        <section class="mainTemplate-content-wide two-col">
            <img src="/assets/images/gull2.jpg" class="mainTemplate-imageNoHvr content-wide-two_col-image margin-xl-bottom">
            <p class="margin-sm flex-center">Browser testing also remained a constant throughout the development period. It was important to me that the site would be accessible on all browsers. An example of an issue I found while browser testing was the “display: flex” property not showing in Safari. I was able to fix this by using “webkit-flex”. Had I not browser tested, the layout would have been broken and the user would have suffered.</p>
        </section>
        <section class="mainTemplate-content-wide">
            <h3 class="margin-m">Conclusion</h3>
            <p class="margin-lg">As the sole developer on this project, this project challenged me to work at an intense speed while maintaining a strong attention to detail. I was pushed to priortize my time, work with previous code, and browser test.</p>
            <a class="p-40 link-secondary">Next Project</a>
        </section>
    </div>
</section>