.contact-container { 
    background-color: var(--colorMain);
    padding: 250px 0;
}
.contact-main{
    height: 100vh;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.hero-container{
    text-align: center;
    padding:60px 0px;
}
.hero-container h1{
    line-height: .7;
}
.contact-content {
    text-align: center;
    line-height: 2;
    margin-bottom: 75px;
}
.contact-content h4 {
    margin-bottom: 60px;
}
.contact-content a {
    display: block;
    font-family: var(--bodyFontBold);
    text-decoration: underline;
    color: var(--colorSecondary);
}

.contact-button-container{
    width: 100%;
    text-align: center;
    height: 225px;
}
.contact-button{
    background: none;
    border: none;
    filter: drop-shadow(0px 20px 7px rgba(0, 15, 37, 0.2));
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.contact-button h4{
    position: relative;
    top:-45px;
    font-family: var(--bodyFontBold);
    color: var(--colorSecondary);
}
.contact-button img{
    width:180px;
}
.contact-button:hover{
    padding-top: 5px;
    filter: drop-shadow(0px 1px 5px rgba(0, 15, 37, 0.4));
}