<section class="contact-container">
    <div class="global-container">
        <section class="hero-container">
            <h1>Get In Touch!</h1>
        </section>
        <section class="headline">
            <h4>I'm always interested in new opportunities!<br>Send me a message and let's see what we can build together!</h4>
            <a href="https://www.instagram.com/hunstad.design/">jamie.hunstad@gmail.com</a>
            <a href="https://www.instagram.com/hunstad.design/">319-310-7542</a>
            <a href="https://www.instagram.com/hunstad.design/">Instagram</a>
            <a href="https://www.linkedin.com/in/jamison-hunstad-893b09150">Linkedin</a>

        </section>
        <section class="home-button-container">
           <button class="home-button" routerLink="/projects"><img src="assets/button/cloud_button.svg"><h4>Say Hi!</h4></button>
        </section>
    </div>
</section>