<section class="contact-container">
    <div class="global-container">
        <section class="hero-container">
            <h1>Get In<br>Touch!</h1>
        </section>
        <section class="contact-content">
            <h4>I'm always interested in new opportunities!<br>Send me a message and let's see what we can build together!</h4>
            <a href="mailto:jamie.hunstad@gmail.com">jamie.hunstad@gmail.com</a>
            <a href=“tel:319-310-7542”>319-310-7542</a>
            <a href="https://www.instagram.com/hunstad.design/">Instagram</a>
            <a href="https://www.linkedin.com/in/jamison-hunstad-893b09150">Linkedin</a>
            <a href="https://github.com/JamieHunstad">GitHub</a>
        </section>
        <section class="contact-button-container">
            <a href="mailto:jamie.hunstad@gmail.com"><button class="contact-button"><img alt="cloud button" src="assets/button/cloud_button.svg"><h4>Say Hi!</h4></button></a>
        </section>
    </div>
</section>