<section class="mainTemplate-container">
    <div class="parallax-container">
        <h1 class="mainTemplate-title">Dixies</h1>
        <img class="cloud-1" src="assets/images/cloud-sm.svg">
        <img class="cloud-2" src="assets/images/cloud-sm.svg">
    </div>
    <img class="cloud-3" src="assets/images/cloud-bg.svg">
    <div class="mainTemplate-content-container">
        <section class="mainTemplate-content-wide">
            <h3 class="margin-m">Dixies Coffee House</h3>
            <a class="margin-sm link-secondary" href="https://www.dixiesmw.com/index.html" target="_blank">https://www.dixiesmw.com/index.html</a>
            <p class="margin-sm opacity-1">October 2022 - November 2022</p>
            <p class="margin-sm opacity-1">HTML - CSS - Javascript - Photoshop - Illustrator</p>
            <p class="margin-m">A website redesign of a popular coffee house, located in Manitowish Waters WI. Working with the Uline design team, I was the sole developer on this project. To complete this project, I utilized HTML, CSS, Javascript and the Adobe suite for image optimization/editing. This project challenged me to adhere to past CSS styling, browser testing, and tight time constraints.</p>
        </section>
        <section class="mainTemplate-content-wide">
            <img src="/assets/images/gull.jpg" class="mainTemplate-imageNoHvr content-wide-image margin-xl-bottom">
            <h3 class="margin-m">Brief</h3>
            <p class="margin-sm">This project came in as a special project from Liz Uihlein, president of Uline. The brief was to redesign the Dixie's website in similar fashion to the website of Smokey's Supper Club, another Liz Uihlein entity in Manitowish.</p>
        </section>
        <section class="mainTemplate-content-wide two-col">
            <img src="/assets/images/gull2.jpg" class="mainTemplate-imageNoHvr content-wide-two_col-image margin-xl-bottom">
            <p class="margin-sm flex-center">My role was to take the mock-ups from the design team and translate them to code. I was the sole developer on the project and was given one business week to tranlsate the concepts to the web. At this stage in the process, I focused on the current styling of Smokey's Supper Club and looked at where styling could be shared and where it must differ. (picture on side of my mockup of what needs to change). This challenged me to adhere to past code to keep the sites maintainable in a similar format for the future.</p>
        </section>
        <section class="mainTemplate-content-wide">
            <img src="/assets/images/gull.jpg" class="mainTemplate-imageNoHvr content-wide-image margin-xl-bottom">
            <h3 class="margin-m">Development</h3>
            <p class="margin-sm">At this stage in the process I began to update the code. I began by duplicating the code from Smokey's and familiarizing myself with the styling. This allowed me to save time and helped me focus on the aspects that would be changing . It was a challenge to siphon through the previous code and remove the non-applicable code to prevent code bloat, while competing with a tight-deadline. It was important to me that the code stayed DRY and there wasn't any repeat or non-usable code.</p>
        </section>
        <section class="mainTemplate-content-wide two-col">
            <p class="margin-xl-bottom flex-center">Browser testing also remained a constant throughout the development period. It was important to me that the site would be accessible on all browsers. An example of an issue I found while browser testing was the “display: flex” property not showing in Safari. I was able to fix this by using “webkit-flex”. Had I not browser tested, the layout would have been broken and the user would have suffered.</p>
            <img src="/assets/images/gull2.jpg" class="mainTemplate-imageNoHvr content-wide-two_col-image margin-sm">
        </section>
        <section class="mainTemplate-content-wide text-center">
            <img src="/assets/images/gull.jpg" class="mainTemplate-imageNoHvr content-wide-image margin-xl-bottom">
            <h3 class="margin-m">Conclusion</h3>
            <p class="margin-lg">As the sole developer on this project, this project challenged me to work at an intense speed while maintaining a strong attention to detail. I was pushed to priortize my time, work with previous code, and browser test.</p>
            <a class="p-40 link-secondary" routerLink="/project02">Next Project</a>
        </section>
    </div>
</section>