<header>
    <nav>
        <div class="global-container">
            <div class="nav-container">
                <div class="nav-container-left">
                    <a routerLink="/resume" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}">resume</a>
                    <a routerLink="/projects" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}">projects</a>
                </div>
                <div class="nav-container-center">
                    <a class="nav-container-center-desktop" routerLink="">hunstad</a>
                    <a class="nav-container-center-mobile" routerLink="">jh</a>
                </div>
                <div class="nav-container-right">
                    <a routerLink="/about" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}">about</a>
                    <a routerLink="/contact" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}">contact</a>
                </div>
            </div><div class="nav_toggle-container">
            <button class="nav_toggle" [ngClass]="{nav_toggle_open: toggle==true}" (click)="navToggle()"><span class="hamburger"></span></button>
            </div>
            <div class="hamburger-menu" [ngClass]="{'hamburger-menu-open': toggle==true}">
                <div class="hamburger-menu-links_container">
                    <a class="hamburger-menu-links" (click)="navToggle()" routerLink="/resume">resume</a>
                    <a class="hamburger-menu-links" (click)="navToggle()" routerLink="/projects">projects</a>
                    <a class="hamburger-menu-links" (click)="navToggle()" routerLink="/about">about</a>
                    <a class="hamburger-menu-links" (click)="navToggle()" routerLink="/contact">contact</a>
                </div>
              </div>
        </div>
    </nav>
</header>
<section class="cloud-transition"  [ngClass]="{'cloud-transition-remove': removeClouds == true}">
    <div class="cloud-container">
        <img class="cloud-left" [ngClass]="{'cloud-left-moved': fireClouds == true}" src="assets/images/clouds_left.png">
        <img class="cloud-right cloud-right-moved" [ngClass]="{'cloud-right-moved': fireClouds == true}" src="assets/images/clouds_right.png">
    </div>
</section>