<header>
    <nav>
        <div class="global-container">
            <div class="nav-container">
                <div class="nav-container-left">
                    <a>resume</a>
                    <a>portfolio</a>
                </div>
                <div class="nav-container-center">
                    <a>hunstad</a>
                </div>
                <div class="nav-container-right">
                    <a>about</a>
                    <a>contact</a>
                </div>
            </div>
            <div class="hamburger-icon-open"><img src="assets/icons/hamburger_icon_open.svg"></div>
            <div class="hamburger-menu">
                <div class="hamburger-icon-close"><img src="assets/icons/hamburger_icon_close.svg"></div>
                <div class="hamburger-menu-links_container">
                    <a class="hamburger-menu-links">resume</a>
                    <a class="hamburger-menu-links">portfolio</a>
                    <a class="hamburger-menu-links">about</a>
                    <a class="hamburger-menu-links">contact</a>
                </div>
              </div>
        </div>
    </nav>
</header>