<header>
    <nav>
        <div class="global-container">
            <div class="nav-container">
                <div class="nav-container-left">
                    <a>resume</a>
                    <a>portfolio</a>
                </div>
                <div class="nav-container-center">
                    <a>hunstad</a>
                </div>
                <div class="nav-container-right">
                    <a>about</a>
                    <a>contact</a>
                </div>
            </div><div class="nav_toggle-container">
            <button class="nav_toggle" [ngClass]="{nav_toggle_open: toggle==true}" (click)="navToggle()"><span class="hamburger"></span></button>
            </div>
            <div class="hamburger-menu" [ngClass]="{'hamburger-menu-open': toggle==true}">
                <div class="hamburger-menu-links_container">
                    <a class="hamburger-menu-links">resume</a>
                    <a class="hamburger-menu-links">portfolio</a>
                    <a class="hamburger-menu-links">about</a>
                    <a class="hamburger-menu-links">contact</a>
                </div>
              </div>
        </div>
    </nav>
</header>