nav{
    background-color: #fffffff5;
    position: fixed;
    width: 100%;
    z-index: 100000;
}
.nav-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 60px;
}
.nav-container-left{
    display: none;
}
.nav-container-right{
    display: none;
}
.nav-container-center{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;

    font-family: var(--displayFont);
    color: var(--colorSecondary);
    font-size: 26px;
}
.hamburger-menu{
    height:0px;
    position:fixed;
    overflow: hidden;
    padding:0;
    margin:0;

    top:0;
    left:0;

    background-color: var(--colorTertiary);
    color: var(--colorSecondary);
    font-family: var(--bodyFontBold);

    transition: all 250ms ease-in-out;
    width: 100%;
    z-index: 100;
}
.hamburger-menu-open{
    position:fixed;
    overflow: hidden;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;

    background-color: var(--colorTertiary);
    color: var(--colorSecondary);
    font-family: var(--bodyFontBold);

    transition: all 250ms ease-in-out;
    z-index: 100;
}
.hamburger-menu-links_container{
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hamburger-menu-links{
    margin: 40px 0px;
    font-size: 45px;
}

/* hamburger icon */
.nav_toggle{
    position: absolute;
    top: 15px;
    right: 30px;
    border: none;
    width:2em;
    height:30px;
    background-color: white;
    cursor:pointer;
    z-index: 200;
}
.hamburger{
    display: block;
    position: relative;
    cursor:pointer;
}
.hamburger, .hamburger::after {
    width: 2em;
    height: 3px;
    border-radius: 100px;
    background: var(--colorSecondary);
    transition: transform 250ms ease-in-out;
    cursor:pointer;
}
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    cursor:pointer;
}

.nav_toggle_open .hamburger{
    transform: rotate(45deg);
}
.nav_toggle_open .hamburger::after {
    transform: rotate(90deg) translate(-6px);
}

.cloud-transition{
    display: block;
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top:0;
    left:0;
    z-index: 200000;
}

.cloud-transition-remove{
    display: none;
}

.cloud-left{
    position: absolute;
    top:0;
    left:0;
    transition: all 5s ease-in-out;
}
.cloud-right{
    position: absolute;
    top:0;
    right:0;
    transition: all 5s ease-in-out;
}
.cloud-left-moved{
    left:-3000px;
}
.cloud-right-moved{
    right:-3000px;
}

.cloud-container img{
    height: 125%;
    width:125%;
}


@media screen and (min-width: 768px) {
    .nav-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .nav_toggle{
        display: none;
    }
    .nav-container-left,.nav-container-center,.nav-container-right{
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
    }
    .nav-container-left,.nav-container-right{
        font-family: var(--bodyFontBold);
    }
    .nav-container-left a,.nav-container-right a{
        cursor: pointer;
        padding: 5px 15px;
        margin: 0px 30px;
        transition: all 150ms ease-in-out;
    }
    .nav-container-left a:hover,.nav-container-right a:hover{
        background-color: var(--colorMain);
        border-radius: 100px;
    }
}