<section class="mainTemplate-container">
    <div class="parallax-container">
        <img class="diver" src="assets/images/skeli.png">
        <img class="cloud-1" src="assets/images/cloud-sm.svg">
        <img class="cloud-2" src="assets/images/cloud-sm.svg">
    </div>
    <img class="cloud-3" src="assets/images/cloud-bg.svg">
    <div class="mainTemplate-content-container">
        <section class="mainTemplate-content">
            <h2 class="margin-xl-bottom">About</h2>
            <p class="margin-lg">Hi, my name is Jamie Hunstad! I'm a 24 year old front-end developer based in Kenosha, WI. From a young age, I knew that I wanted a job where I could use creativity to turn ideas into reality. This dream further developed when in 2020 I obtained my bachelor's degree in Industrial Design from Iowa State graduating Magna Cum Laude.</p>
            <p class="margin-lg">During my time in college I discovered front-end development and fell in love with the blend of logical and creative thinking. I spent all of my free time learning to code, with trial and error as my greatest teacher! This dual focus on design and coding has made me fluent in speaking to both developers and designers. Fast forward to today and I now work at Uline, puttting these skills to practice!</p>
            <p class="margin-lg">Activities - Coding, Guitar, Spanish</p>
            <p class="margin-lg">Movies - Rocky, Tarantino, Star Wars, <span class="nowrap">The MCU!</span></p>
            <p class="margin-lg">Music - Kid Cudi, Frank Ocean, The Weeknd</p>
            <img src="/assets/images/me.jpg" class="mainTemplate-imageNoHvr margin-xl-top">
        </section>
    </div>
</section>