main { 
    background-color: var(--colorMain);
    padding: 10vh 0;
}
.home-container{
    height: 100vh;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.hero-container{
    text-align: center;
    padding-top:60px;
    padding-bottom: 75px;
}
.hero-letters{
    font-family: var(--heroFont);
    color: white;
    font-size: 80px;
    position: relative;
    top: 20px;

    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 15, 37, 0.4);
    animation: bounce .75s infinite alternate;
    
}
@keyframes bounce {
    100%{
        top: -20px;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc, 0 50px 25px rgba(0, 15, 37, 0.2);
    }
}
.hero-container span:nth-child(odd){
    animation-delay: 0.1s;
}/*
.hero-container span:nth-child(3){
    animation-delay: 0.20s;
}
.hero-container span:nth-child(4){
    animation-delay: 0.25s;
}
.hero-container span:nth-child(5){
    animation-delay: 0.30s;
}
.hero-container span:nth-child(6){
    animation-delay: 0.35s;
}
.hero-container span:nth-child(7){
    animation-delay: 0.40s;
}
.hero-container span:nth-child(8){
    animation-delay: 0.45s;
}
.hero-container span:nth-child(9){
    animation-delay: 0.50s;
}
.hero-container span:nth-child(10){
    animation-delay: 0.60s;
}
.hero-container span:nth-child(11){
    animation-delay: 0.65s;
}
.hero-container span:nth-child(12){
    animation-delay: 0.70s;
}
.hero-container span:nth-child(13){
    animation-delay: 0.75s;
}
*/
.headline-desktop {
    display: none;
}
.headline-mobile {
    text-align: center;
    line-height: 2;
    margin-bottom: 75px;
}
.headline-mobile .bold-font {
    font-family: var(--bodyFontBold);
    color: var(--colorSecondary);
    text-transform: uppercase;
}

.home-button-container{
    width: 100%;
    text-align: center;
    height: 200px;
}
.home-button{
    background: none;
    border: none;
    filter: drop-shadow(0px 20px 7px rgba(0, 15, 37, 0.2));
    cursor: pointer;
}
.home-button h4{
    position: relative;
    top:-45px;
    font-family: var(--bodyFontBold);
    color: var(--colorSecondary);
}
.home-button img{
    width:180px;
}
.home-button:hover{
    padding-top: 5px;
    filter: drop-shadow(0px 1px 5px rgba(0, 15, 37, 0.4));
}


@media screen and (min-width: 768px){
    .hero-letters{
        font-size: 100px;
    }
    .headline-mobile {
        display: none;
    }
    .headline-desktop {
        display: block;
        text-align: center;
        line-height: 2;
        margin-bottom: 75px;
    }
    .headline-desktop .bold-font {
        font-family: var(--bodyFontBold);
        text-transform: uppercase;
    }
}