<main>
    <div class="global-container">
        <section class="hero-container">
            <span class="hero-letters">j</span>
            <span class="hero-letters">a</span>
            <span class="hero-letters">m</span>
            <span class="hero-letters">i</span>
            <span class="hero-letters">e</span>
            <br>
            <span class="hero-letters">h</span>
            <span class="hero-letters">u</span>
            <span class="hero-letters">n</span>
            <span class="hero-letters">s</span>
            <span class="hero-letters">t</span>
            <span class="hero-letters">a</span>
            <span class="hero-letters">d</span>
        </section>
        <section class="headline-mobile">
            <h4>Hi, my name is Jamie Hunstad!<br>I'm a front-end developer with a <span class="nowrap">design background.</span><br>Let's <span class="bold-font">reach for the sky</span> and build <span class="nowrap">something together!</span></h4>
        </section>
        <section class="headline-desktop">
            <h4>Hi, my name is Jamie Hunstad! I'm a front-end developer with a <span class="nowrap">design background.</span><br>Let's <span class="bold-font">reach for the sky</span> and build <span class="nowrap">something together!</span></h4>
        </section>
        <section class="home-button-container">
           <button class="home-button"><img src="assets/button/cloud_button.svg"><h4>See Projects</h4></button>
        </section>
    </div>
</main>