<section class="mainTemplate-container">
        <div class="parallax-container">
            <h1 class="mainTemplate-title">Projects</h1>
            <img class="cloud-1" src="assets/images/cloud-sm.svg">
            <img class="cloud-2" src="assets/images/cloud-sm.svg">
        </div>
        <img class="cloud-3" src="assets/images/cloud-bg.svg">
        <div class="mainTemplate-content-container">
            <section class="mainTemplate-content">
                <h2 class="margin-xl-bottom">Project 01</h2>
                <img src="/assets/images/gull.jpg" class="mainTemplate-image margin-xl-bottom">
                <h3 class="margin-m">NASA Earth App</h3>
                <p class="margin-sm">Aug. 2022 - September 2022</p>
                <p class="margin-sm">Hi, my name is jamie hunstad! I'm a front-end developer with a design background. Description of the shit thsi project is about. Im filling this up so i can see how it would look.</p>
                <a class="margin-sm link-main">See More<span>></span></a>
            </section>
            <section class="mainTemplate-content">
                <h2 class="margin-xl-bottom">Project 02</h2>
                <img src="/assets/images/gull.jpg" class="mainTemplate-image margin-xl-bottom">
                <h3 class="margin-m">Dixies Coffee House</h3>
                <p class="margin-sm">Aug. 2022 - September 2022</p>
                <p class="margin-sm">Hi, my name is jamie hunstad! I'm a front-end developer with a design background. Description of the shit thsi project is about. Im filling this up so i can see how it would look.</p>
                <a class="margin-sm link-main">See More<span>></span></a>
            </section>
        </div>
</section>