<section class="mainTemplate-container">
        <div class="parallax-container">
            <h1 class="mainTemplate-title">Projects</h1>
            <img class="cloud-1" src="assets/images/cloud-sm.svg">
            <img class="cloud-2" src="assets/images/cloud-sm.svg">
        </div>
        <img class="cloud-3" src="assets/images/cloud-bg.svg">
        <div class="mainTemplate-content-container">
            <section class="mainTemplate-content">
                <h2 class="margin-xl-bottom">Project 01</h2>
                <img src="/assets/images/gull.jpg" routerLink="/project01" class="mainTemplate-image margin-xl-bottom">
                <h3 class="margin-m">Dixies Coffee House</h3>
                <p class="margin-sm opacity-1">August - September 2022</p>
                <p class="margin-sm">A website redesign of a popular coffee house, located in Manitowish Waters WI. Working with the Uline design team, I was the sole developer on this project. To complete this project, I utilized HTML, CSS, Javascript and the Adobe suite for image optimization/editing. This project challenged me to adhere to past CSS styling, browser testing, and tight time constraints.</p>
                <a class="margin-sm link-main" routerLink="/project01">See More<span>></span></a>
            </section>
            <section class="mainTemplate-content">
                <h2 class="margin-xl-bottom">Project 02</h2>
                <img src="/assets/images/projects/projects_nasa.jpg" routerLink="/project02" class="mainTemplate-image-desktop margin-xl-bottom">
                <img src="/assets/images/projects/projects_nasa_mobile.jpg" routerLink="/project02" class="mainTemplate-image-mobile margin-xl-bottom">
                <h3 class="margin-m">NASA Earth App</h3>
                <p class="margin-sm opacity-1">August - September 2022</p>
                <p class="margin-sm">A daily Earth imaging application utilizing the NASA “EPIC” API. The EPIC API provides information on the daily imagery collected by DSCOVR's Earth Polychromatic Imaging Camera (EPIC) instrument. This was a personal project I created in my spare time to challenege my skills in Angular!</p>
                <a class="margin-sm link-main" routerLink="/project02">See More<span>></span></a>
            </section>
            <section class="mainTemplate-content">
                <h2 class="margin-xl-bottom">Project 03</h2>
                <img src="/assets/images/projects/projects_ic.jpg" routerLink="/project02" class="mainTemplate-image-desktop margin-xl-bottom">
                <img src="/assets/images/projects/projects_ic_mobile.jpg" routerLink="/project02" class="mainTemplate-image-mobile margin-xl-bottom">
                <h3 class="margin-m">Uline Internal Site</h3>
                <p class="margin-sm opacity-1">July - September 2022</p>
                <p class="margin-sm">An internal site created for the Uline Inventory Control team. I was the sole developer on the project and utilized bootstrap to create the site.</p>
                <a class="margin-sm link-main" routerLink="/project02">See More<span>></span></a>
            </section>
            <section class="mainTemplate-content">
                <h2 class="margin-xl-bottom">Check out <span class="nowrap">my art!</span></h2>
                <a  href="https://www.instagram.com/hunstad.design/" target="_blank"><img src="/assets/images/projects/projects_instagram.jpg" class="mainTemplate-image margin-xl-bottom"></a>
                <h3 class="margin-m">Instagram</h3>
                <a class="margin-sm link-main" href="https://www.instagram.com/hunstad.design/" target="_blank">See my Instagram<span>></span></a>
            </section>
            <section class="mainTemplate-content">
                <h2 class="margin-xl-bottom">Check out <span class="nowrap">my code!</span></h2>
                <a href="https://github.com/JamieHunstad" target="_blank"><img src="/assets/images/projects/projects_github.jpg" class="mainTemplate-image margin-xl-bottom"></a>
                <h3 class="margin-m">GitHub</h3>
                <a class="margin-sm link-main" href="https://github.com/JamieHunstad" target="_blank">See my GitHub<span>></span></a>
            </section>
        </div>
</section>