<section class="mainTemplate-container">
    <div class="parallax-container">
        <h1 class="mainTemplate-title">Resume</h1>
        <img class="cloud-1" src="assets/images/cloud-sm.svg">
        <img class="cloud-2" src="assets/images/cloud-sm.svg">
        <img class="cloud-4" src="assets/images/cloud-sm.svg">

    <div class="mainTemplate-content-container">
        <section class="mainTemplate-content">
            <h2 class="margin-xl-bottom">Experience</h2>
            <h3 class="margin-m">Uline</h3>
            <p class="margin-sm opacity-1">July 2020 - Present</p>
            <p class="margin-sm opacity-1">Web Producer - Jr. Web Producer</p>
            <p class="margin-sm">Worked to provide regular maintenance and enhancements on multi-billion dollar site. Including the successful implementation of landing pages, product updates, internal webpages and creation of partnered business websites. Collaborated with web team on new UX concepts, including presentations to the Vice President of Creative.</p>

            <h3 class="margin-m margin-xl-top">Vermeer</h3>
            <p class="margin-sm opacity-1">August - December 2019</p>
            <p class="margin-sm opacity-1">Industrial Design Intern</p>
            <p class="margin-sm">Focused on the development of new controls for a best-selling mini skid steer. Conducted in-field testing, competitor analysis, and rapid model prototyping. Constructed a full-scale skid-steer model and modular system to test new controls. Presented to project executives with ability to test final concepts.</p>

            <h3 class="margin-m margin-xl-top">Uline</h3>
            <p class="margin-sm opacity-1">May - August 2019</p>
            <p class="margin-sm opacity-1">Web Design Intern</p>
            <p class="margin-sm">Worked effectively with web team to improve overall user experience of website. Developed original concepts to advance website efficiency. Assisted in updating web images including background removal, touch-up, and optimization. Constructed product emails that adhered to company design language.</p>
        </section>
        <section class="mainTemplate-content">
            <h2 class="margin-xl-bottom">Education</h2>
            <h3 class="margin-m">Iowa State University</h3>
            <p class="margin-sm opacity-1">2016 - 2020</p>
            <p class="margin-sm">3.69 GPA - Bachelores Degree, Industrial Design</p>

            <h3 class="margin-m margin-xl-top">Xavier Highschool</h3>
            <p class="margin-sm opacity-1">2012 - 2016</p>
            <p class="margin-sm">Diploma</p>

        </section>
        <section class="mainTemplate-content">
            <h2 class="margin-xl-bottom">Skills</h2>
            <h3 class="margin-m">HTML</h3>
            <h3 class="margin-m">CSS</h3>
            <h3 class="margin-m">Javascript</h3>
            <h3 class="margin-m">Bootstrap</h3>
            <h3 class="margin-m">Sass</h3>
            <h3 class="margin-m">Angular</h3>
            <h3 class="margin-m">Photoshop</h3>
            <h3 class="margin-m">Illustrator</h3>
            <h3 class="margin-m">InDesign</h3>
            <h3 class="margin-m">Adobe XD</h3>
            <h3 class="margin-m">After Effects</h3>
            <h3 class="margin-m">Axure</h3>

        </section>
        <section class="resume-button-container">
            <a href="assets/PDF/resume.pdf" target="_blank"><button class="resume-button" id="resume button" title="resume button"><img src="assets/button/cloud_button.svg" width="180px" height="69.52px" alt="resume cloud button"><h4>Download Resume</h4></button></a>
        </section>
    </div>
    </div>
</section>