*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Cooper Black";
    src: url("assets/font/Cooper_Black_Regular.woff2") format("woff2"), url("assets/font/Cooper_Black_Regular.woff")
    format("woff");
}
@font-face {
    font-family: "Open Sans Light";
    src: url("assets/font/OpenSans-Light.woff2") format("woff2"), url("assets/font/OpenSans-Light.woff")
    format("woff");
}
@font-face {
    font-family: "Open Sans Regular";
    src: url("assets/font/OpenSans-Regular.woff2") format("woff2"), url("assets/font/OpenSans-Regular.woff")
    format("woff");
}
@font-face {
    font-family: "Open Sans Bold";
    src: url("assets/font/OpenSans-Bold.woff2") format("woff2"), url("assets/font/OpenSans-Bold.woff")
    format("woff");
}
@font-face {
    font-family: "Luckiest Guy";
    src: url("assets/font/luckiestguy.woff2") format("woff2"), url("assets/font/luckiestguy.woff")
    format("woff");
}
@font-face {
    font-family: "Sunrise";
    src: url("assets/font/Sunrise.woff2") format("woff2"), url("assets/font/Sunrise.woff")
    format("woff");
}
:root {
    --displayFont: "Sunrise", Helvetica, Arial, sans-serif;
    --bodyFontLight: "Open Sans Light", Helvetica, Arial, sans-serif;
    --bodyFontRegular: "Open Sans Regular", Helvetica, Arial, sans-serif;
    --bodyFontBold: "Open Sans Bold", Helvetica, Arial, sans-serif;
    --heroFont: "Sunrise", Helvetica, Arial, sans-serif;

    --colorMain: #7CCDED;
    --colorSecondary: #0B2632;
    --colorTertiary: #FFFFFF;
    --colorLink: #0A5D80;
}
h1{
    font-family: var(--displayFont);
    font-size: 120px;
    color: var(--colorSecondary);
}
h2{
    font-family: var(--displayFont);
    font-size: 50px;
    color: var(--colorSecondary);
}
h3{
    font-family: var(--bodyFontBold);
    font-size: 24px;
    color: var(--colorSecondary);
}
h4{
    font-family: var(--bodyFontRegular);
    font-size: 16px;
    color: var(--colorSecondary);
}
p{
    font-family: var(--bodyFontRegular);
    font-size: 16px;
    color: var(--colorSecondary);
}

.margin-sm{
    margin: 5px 0px;
}
.margin-m{
    margin: 10px 0px;
}
.margin-lg{
    margin: 15px 0px;
}
.margin-xl-top{
    margin-top: 40px;
}
.margin-xl-bottom{
    margin-bottom: 40px;
}
.p-40{
    padding: 40px 0px;
}
.opacity-1{
    opacity: 60%;
}
.global-container{
    margin: 0px 20px;
}
.nowrap{
    white-space: nowrap;
}

.mainTemplate-image-desktop {
    display: none;
}
.mainTemplate-image-mobile {
    background-color: var(--colorSecondary);
    border-radius: 20px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    transition: all 1s;
}
.mainTemplate-image-mobile:hover{
    width: 95%;
    cursor: pointer;
}

.mainTemplate-image, .mainTemplate-imageNoHvr {
    background-color: var(--colorSecondary);
    border-radius: 20px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    transition: all 1s;
}
.mainTemplate-image:hover{
    width: 95%;
    cursor: pointer;
}
.link-main, .link-main span{
    font-family: var(--bodyFontBold);
    color: var(--colorSecondary);
    cursor: pointer;
    text-decoration: none;
}
.link-main:hover{
    font-family: var(--bodyFontBold);
}
.link-main span{
    margin-left: 10px;
    transition: all 1s;
}
.link-main:hover span{
    margin-left:20px;
}
.link-secondary {
    font-family: var(--bodyFontRegular);
    font-size: 16px;
    color: var(--colorLink);
    text-decoration: none;
}
.link-secondary:hover {
    text-decoration: underline;
}


/* Main Pages Styling */
.mainTemplate-container{
    padding-top: 60px;
    height:100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    background-color: var(--colorMain);
}
.parallax-container{
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
.mainTemplate-title{
    color: var(--colorSecondary);
    font-family: var(--displayFont);
    font-size:50px;
    position: relative;
    top: 200px;
    left: 10%;
    z-index:-10;
}
.mainTemplate-content-container{
    margin-top:-5px;
    background-color: white;
    padding-top:450px;
    z-index: 3;
    width: 100%;

}
.mainTemplate-content{
    padding-bottom:300px;
    padding-left: 15%;
    padding-right: 15%;
}
.mainTemplate-content-wide{
    padding-bottom:300px;
    padding-left: 10%;
    padding-right: 10%;
}
.mainTemplate-content--title{
    margin-bottom: 50px;
}
.content-wide-image,.content-wide-two_col-image{
    width: 100%;
}
.cloud-1{
    position: relative;
    top: -200px;
    right: 50px;
    transform: translateZ(-15px) scale(3);
    z-index: -1;
    width:100px;
}
.cloud-2{
    transform: translateZ(-20px) scale(4);
    position: relative;
    top: 540px;
    left: 400px;
    width: 140px;
}
.cloud-4{
    transform: translateZ(-30px) scale(6);
    position: relative;
    top: 182px;
    left: 1223px;
    width: 80px;
}
.two-col{
    display:block;
}

/* MEDIA QUERY */
@media screen and (min-width: 768px) {
    h4{
        font-size: 16px;
    }
    h2{
        font-size: 100px;
    }
}
@media only screen and (min-width: 400px) {
    .mainTemplate-title {
        font-size: 75px;
    }
  }
@media only screen and (min-width: 750px) {
    .mainTemplate-title {
        font-size: 160px;
    }
    .mainTemplate-content{
        padding-left:25%;
        padding-right:25%;
    }

    .mainTemplate-image-mobile {
        display: none;
    }
    .mainTemplate-image-desktop {
        background-color: var(--colorSecondary);
        border-radius: 20px;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    
        transition: all 1s;
    }
    .mainTemplate-image-desktop:hover{
        width: 95%;
        cursor: pointer;
    }
    .content-wide-image{
        width: 70%;
    }
    .content-wide-two_col-image{
        width: 80%;
    }
    .text-center{
        text-align: center;
    }
    .flex-center{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex; 
        justify-content: center;
        flex-direction: column;
    }
    .two-col{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
  }