<footer>
    <div class="global-container">
        <div class="footer-container">
            <div class="footer-container-copyright">
                <p>&#169; 2022 Jamie Hunstad. All Rights Reserved.</p>
            </div>
            <div class="footer-container-social"><a href="https://www.instagram.com/hunstad.design/"><i class="fa-brands fa-instagram fa-2xl"></i></a>
                <a href="https://www.linkedin.com/in/jamison-hunstad-893b09150"><i class="fa-brands fa-linkedin-in fa-2xl"></i></a>
            </div>
        </div>
    </div>
</footer>